<title>Clean Blog</title>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <% Post.all.each do |post| %>
                <%# <%= link_to post.title %>
                    <h2 class="post-title">
                        <%= post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= post.description %>
                    </h3>
                    <p class="post-meta"> <a href="#">Posted</a> <%= post.created_at.strftime("%A  %Y-%m-%d, %I:%M%p " ) %></p>
                <% end %>
            </div>

            <!-- Pager -->
            <%# <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul> %>
        </div>
    </div>
</div>

<br>

<%= render 'footer' %>
